.info-card{
    color: brown;
    background-color: bisque;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100px;
    text-align: center;

}
.container{
    color:darkgreen;
    background-color: blanchedalmond;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}